{
    "presets": ["es2015", { "modules": false }],
    "plugins": [
        "transform-flow-strip-types",
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ],
    "comments": false
}
