
@import 'bootstrap';
section{
//homepage
	//photo
	img{
		border: 1px;
		border-style: solid;
		border-color: #888888;
	}
	.big-icon{
		width: 100px;
		height: 100px;
	}
	.middle-icon{
		width: 50px;
		height: 50px;
	}
	.small-icon{
		width: 40px;
		height: 40px;
	}
	
	//layout
	.margin-vertical{
		margin: 32px 0px;
	}
	.align-horizon{
		display: inline-block;
	}
	.align-vertical{
		vertical-align: middle;
	}
	
	//button
	.btn{
		margin: 8px 0px;
	}
	
	//startup section
	.startup{
		@extend .margin-vertical;
		@extend .list-group;
		a.create{
			@extend .list-group-item;
			@extend .btn-primary;
			@extend .btn;
			color: #ffffff;
		}
		.startup-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.startup-list{
			@extend .list-group-item;
			.startup-pic{
				@extend img;
				@extend .middle-icon;
				@extend .align-horizon;	
				margin: 0px 8px 0px 0px;
			}
			.title{
				@extend .list-group-item-text;
				@extend .align-horizon;
				color: #555555;
			}
		}
	}
	//team section
	.team{
		@extend .margin-vertical;
		@extend .list-group;
		a.create{
			@extend .list-group-item;
			@extend .btn-primary;
			@extend .btn;
			color: #ffffff;
		}
		.team-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.team-list{
			@extend .list-group-item;
			.team-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-horizon;
				margin: 0px 8px 0px 0px;
			}
			.title{
				@extend .list-group-item-text;
				@extend .align-horizon;
				color: #555555;
			}
		}
	}
	
	//post status
	.status{
		@extend .list-group-item;
		.description{@extend .form-control;}
		.boom{
			@extend .btn;
			@extend .btn-primary;
			float: right;
			margin-bottom: 0px;
		}
	}
	
	//post
	.post{
		@extend .margin-vertical;
		@extend .list-group-item;
		padding: 12px;
		.profile-pic{
			@extend .img-circle;
			@extend .middle-icon;
			@extend .align-vertical;
			margin: 0px 8px 0px 0px;
		}
		.profile-name{
			@extend .align-horizon;
			@extend .align-vertical;
			.name{
				margin: 0px 0px 2px 0px;
				color: #000000;
			}
			.startup{
				margin: 0px;
				color: #555555;
			}
		}		
		.post-text{margin: 8px 0px;}
		.post-pic{
			@extend img;
			max-width:100%;
			max-height:100%;
		}		
		button{
			@extend .btn;
			@extend .btn-primary;
			@extend .align-horizon;
			margin-bottom: 0px;
		}
	}
	
//startup page
	//header
	.startup-header{
		padding: 20px;
		background-color: #e65a62;
		height: 250px;
		
		.header-left{
			top:10%;
			.title{
				margin-bottom: 0px;
				color: #000000;
			}
			a.tag{
				@extend .btn-default;
				@extend .btn-sm;
				@extend .btn;
				width: 100%;
			}
		}
		.header-center{
			text-align: center;
			.startup-img{
				@extend img;
				@extend .big-icon;
				position:relative;
				top:10%;
				margin: auto;
				background-color: #ffffff;
			}
			.title{color: #000000;}			
			.subtitle{color: #555555;}
		}
		.header-right{
			float: right;
			a.follow{
				@extend .btn-primary;
				@extend .btn;
				float: right;
				margin-bottom: 4px;
			}
			.location{
				@extend .breadcrumb;
				float: right;
			}
		}
	}
	//member lists
	.members{
		@extend .margin-vertical;
		@extend .list-group;
		.member-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.member-list{
			@extend .list-group-item;
			.member-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-vertical;
				margin: 0px 8px 0px 0px;
			}
			.member-name{
				@extend .list-group-item-text;
				@extend .align-horizon;
				@extend .align-vertical;
				.title{margin: 0px 0px 2px 0px;color: #555555;}
				.subtitle{margin: 0px;color: #555555;}
			}
		}
	}
	//envision
	.mission{
		width: 100%;
		.description{
			@extend .form-control;
			margin: 8px 0px;
		}
	}
	.buttons{
		@extend .list-group-item-text;
		@extend .align-horizon;
		margin-bottom: 8px;
		button{
			@extend .btn;
			@extend .btn-primary; 
		}
	}
	//product lists
	.products{
		@extend .margin-vertical;
		@extend .list-group;
		.product-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.product-list{
			@extend .list-group-item;
			.product-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-vertical;
				margin: 0px 8px 0px 0px;
			}
			.product-name{
				@extend .list-group-item-text;
				@extend .align-horizon;
				@extend .align-vertical;
				.title{margin: 0px 0px 2px 0px; color: #555555;}
				.subtitle{margin: 0px; color: #555555;color: #555555;}
			}
		}
	}
	
	
//team page
	//header
	.team-header{
		padding: 20px;
		background-color: #b8e5ff;
		height: 250px;
		
		.header-left{
			top: 10%;
			.title{color: #000000;}			
			.subtitle{color: #555555;}
			a.tag{
				@extend .btn-default;
				@extend .btn-sm;
				@extend .btn;
				width: 100%;
			}
		}
		.header-right{
			float: right;
			a.follow{
				@extend .btn-primary;
				@extend .btn;
				float: right;
				margin-bottom: 4px;
			}
			.location{
				@extend .breadcrumb;
				float: right;
			}
		}
	}
	
//profile page
	//header
	.profile-header{
		padding: 20px;
		background-color: #b8e5ff;
		height: 250px;
		.header-center{
			text-align: center;
			.profile-pic{
				@extend img;
				@extend .img-circle;
				@extend .big-icon;
				position:relative;
				top:10%;
				margin: auto;
				background-color: #ffffff;
			}
			.title{color: #000000;}			
			.subtitle{
				color: #555555;
				margin-top: 0px;
			}
		}
	}
	//startup follow	
	.follow{
		@extend .margin-vertical;
		@extend .list-group;
		.follow-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.follow-list{
			@extend .list-group-item;
			.follow-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-vertical;
				margin: 0px 8px 0px 0px;
			}
			.follow-name{
				@extend .list-group-item-text;
				@extend .align-horizon;
				@extend .align-vertical;
				margin: 0px 0px 2px 0px;
				color: #555555;
			}
		}
	}
	//share status	
	.share{
		@extend .margin-vertical;
		@extend .list-group;
		.share-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.share-list{
			@extend .list-group-item;
			.share-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-vertical;
				margin: 0px 8px 0px 0px;
			}
			.share-name{
				@extend .list-group-item-text;
				@extend .align-horizon;
				@extend .align-vertical;
				margin: 0px 0px 2px 0px;
				color: #555555;
			}
		}
	}
	//about	
	.about{
		@extend .margin-vertical;
		@extend .list-group;
		.about-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}			
		}
		.about-list{
			@extend .list-group-item;
			.subtitle{
				@extend .list-group-item-text;
				margin: 0px;
				color: #555555;
			}
		}
	}
	//friend
	.friends{
		@extend .margin-vertical;
		@extend .list-group;
		.friend-lists{
			@extend .list-group-item;
			.title{
				@extend .list-group-item-heading;
				margin-bottom: 0px;
			}
		}
		.friend-list{
			@extend .list-group-item;
			.friend-pic{
				@extend img;
				@extend .img-circle;
				@extend .middle-icon;
				@extend .align-vertical;
				margin: 0px 8px 0px 0px;
			}
			.friend-name{
				@extend .list-group-item-text;
				@extend .align-horizon;
				@extend .align-vertical;
				margin: 0px 0px 2px 0px;
				color: #555555;
			}
		}
	}
}